@charset "EUC-KR";

* {box-sizing: border-box;}
.mySlides {
	display: none;
	width: 100%;
	height: 100%;
}

.margin-back{
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
}

.slideshow-container {
  max-width: 1920px;
  max-height: 300px;
  position: relative;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3.0s;
  animation-name: fade;
  animation-duration: 3.0s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
#oshiraseBox{
	margin : auto;
	display: block;
	position: relative;
	width: 80%;
	border: 1px black;
}

#showList{

}

#blueArea{
	text-align:left;
	color:white;
	background-color: black;/*나중에 색 변경*/
}

.facebookArea, .instagramArea, .youtubeArea{
	display: inline-block;
}

.imgFaceBook, .imgInstagram, .imgYoutube{
	width: 150px;
	height: 150px;
	background-color:rgba(0,0,0,0);
	background-size:100% 100%;
	background-repeat: no-repeat;
	border-color: rgba(0,0,0,0);
}

.imgFaceBook{
	background-image: url("../img/facebook.png");
}

.imgInstagram{
	background-image: url("../img/insta.png");
}

.imgYoutube{
	background-image: url("../img/youtube.png");
}